div{ 

       background-color: royalblue;
       margin: 20px; padding-left: 15px;
       border-radius: 20px;
       border:rgb(204, 104, 22)



}
h4{ font-size: larger;

       text-align: start;
       color: aliceblue;



}
.file{ color: azure;}
image{ size-adjust: 1px;}